.banner h1{
	background: url(https://www.firstfiddle.in/assets/images/press-new-1.jpg);
	width: 100%;
	height: 550px;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: white;
    padding-top: 220px;
    font-family: prague;
    font-size: 70PX;
}
.online-mention[_ngcontent-tqw-c5] {
    ox-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.row{
    display: flex;
    flex-wrap: wrap
}
footer{
    background: #020306f0;
    padding: 50px;
    color: #fff;
    background-size: cover;
}
footer img{
    width: 50%;
    margin-top: 30px;
}
